html {
  height: 100%;
  width: 100%; }

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #000; }

.App {
  height: 100%;
  width: 100%; }

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

.card-container {
  width: 90%;
  border: 2px solid blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.card {
  width: 220px;
  height: 300px;
  border: 2px solid blue;
  margin: 20px 20px 20px 20px; }

.crawl-container {
  width: 100%;
  height: 40vh;
  position: relative;
  overflow: hidden; }

.fade {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 70%;
  min-height: 30vh;
  top: -25px;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 1; }

.star-wars {
  display: flex;
  justify-content: center;
  height: 600px;
  color: #feda4a;
  font-size: 48px;
  letter-spacing: 6px;
  line-height: 150%;
  text-align: justify;
  perspective: 400px; }

.crawl {
  width: 55%;
  position: relative;
  top: -100px;
  transform-origin: 50% 100%;
  animation: crawl 30s infinite linear; }

.title {
  margin-left: 50px;
  color: #fff;
  font-size: 75px;
  font-weight: 900; }

@keyframes crawl {
  0% {
    top: 0;
    transform: rotateX(20deg) translateZ(0); }
  100% {
    top: -1500px;
    transform: rotateX(25deg) translateZ(-2500deg); } }

.crawl-text,
.film-title,
.release-date {
  text-align: center; }
