.card {
  width: 220px;
  height: 300px;
  border: 2px solid blue;
  margin: 20px 20px 20px 20px;
}

.active {
  width: 220px;
  height: 300px;
  border: 2px solid blue;
  margin: 20px 20px 20px 20px;
  background-color: pink;
  opacity: 0.9;
}
