.crawl-container {
  width: 100%;
  height: 40vh;
  position: relative;
  overflow: hidden;
}

.fade {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 70%;
  min-height: 30vh;
  top: -25px;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 1; }

.star-wars {
  display: flex;
  justify-content: center;
  height: 400px;
  color: #feda4a;
  font-size: 36px;
  letter-spacing: 6px;
  line-height: 150%;
  text-align: justify;
  perspective: 400px; }

.crawl {
  width: 50vw;
  position: relative;
  top: -100px;
  transform-origin: 50% 100%;
  animation: crawl 30s infinite linear; }

@keyframes crawl {
  0% {
    top: 0;
    transform: rotateX(20deg) translateZ(0); }
  100% {
    top: -1500px;
    transform: rotateX(25deg) translateZ(-2500deg); } }

.crawl-text,
.film-title,
.release-date {
  text-align: center;
}
